<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dummyapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>make install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>make.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>package install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA109E1B14DF294A009F8919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA10A8B914DF2BEB009F8919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA10A8BD14DF2C29009F8919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA10A8C114DF2C31009F8919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA10A8C514DF2C79009F8919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABB893B14DF38240040B4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABB894714DF3F9C0040B4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABB896A14DF3FBD0040B4CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
