Package: com.alexzielenski.zeppelin
Name: Zeppelin
Depends: firmware (>= 4.2), mobilesubstrate, preferenceloader
Version: 2.1.1
Architecture: iphoneos-arm
Description: Replaces carrier text with an image!
Maintainer: Alex Zielenski
Author: Alex Zielenski <http://www.alexzielenski.com>
Homepage: http://www.alexzielenski.com
Section: Tweaks
Sponsor: Alex Zielenski <support@alexzielenski.com>
Icon: http://i.imgur.com/tvLxnB5.png